<cfdirectory name="folderContents" action="list" directory="#getTempDirectory()#" type="file" mode="777"/>
<cfloop query="folderContents">
    <cfset fileName = folderContents.name />
    <cfset fileDelete(getTempDirectory() & fileName) />
</cfloop>